SmartWifiSwitch.json
[{"id":"3b57397cb7bc1b8d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9042521ac6f0f34e","type":"mqtt in","z":"3b57397cb7bc1b8d","name":"","topic":"outgoingTopic","qos":"2","datatype":"auto","broker":"6dab9a277fd220f6","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":100,"wires":[["a5ff223b0f488b1f","281885fcea03cc90"]]},{"id":"4e418de6593d7539","type":"mqtt out","z":"3b57397cb7bc1b8d","name":"","topic":"incommingTopic","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6dab9a277fd220f6","x":530,"y":240,"wires":[]},{"id":"a5ff223b0f488b1f","type":"debug","z":"3b57397cb7bc1b8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"2ff0bb09332c87d1","type":"ui_switch","z":"3b57397cb7bc1b8d","name":"","label":"Fan","tooltip":"","group":"079041c6a0dbf6f7","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0001","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0000","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":267,"y":208,"wires":[["4e418de6593d7539"]]},{"id":"bdf109babf981be6","type":"ui_switch","z":"3b57397cb7bc1b8d","name":"","label":"Light","tooltip":"","group":"079041c6a0dbf6f7","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0002","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0003","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":290,"y":279,"wires":[["4e418de6593d7539"]]},{"id":"e1dede3a14760c44","type":"ui_text_input","z":"3b57397cb7bc1b8d","name":"","label":"Fan Timer","tooltip":"","group":"079041c6a0dbf6f7","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":254.5,"y":354,"wires":[["4e418de6593d7539"]],"l":false},{"id":"281885fcea03cc90","type":"ui_text","z":"3b57397cb7bc1b8d","group":"079041c6a0dbf6f7","order":3,"width":0,"height":0,"name":"","label":"Timer Status","format":"{{msg.payload}}","layout":"col-center","className":"","x":484.5,"y":57,"wires":[],"l":false},{"id":"6dab9a277fd220f6","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"079041c6a0dbf6f7","type":"ui_group","name":"My Room","tab":"2d4cc4faa862f3a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2d4cc4faa862f3a8","type":"ui_tab","name":"SMART HOME","icon":"dashboard","disabled":false,"hidden":false}]